/* Reset some basic styles */
body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEXo1uKZ7V0PAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC);
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('background.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: auto;
}

.profile-photo {
    margin-top: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about-me, .projects, .contact {
    padding: 50px 20px;
    text-align: center;
}

.about-me h2, .projects h2, .contact h2 {
    margin-bottom: 20px;
}

.project-item {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}